.nav-items {
  display: flex;
}
.nav-header {
  position: relative;
  width: 100%;
  padding: var(--padding-large) var(--padding-sm);
  height: 5rem;
  background-color: var(--clr-whitesmoke);
  box-shadow: 0 0 4px rgb(0 0 0 / 30%);
}
.nav-container .nav-header {
  background-color: transparent;
  box-shadow: none;
}
.nav-container::before {
  content: "";
  background: url(/Assets/coverImage.jpeg) center center/cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95vh;
  opacity: 0.5;
}
.btn {
  display: inline-block;
  padding: var(--padding-sm) var(--padding-large);
  color: var(--clr-black);
  border: none;
  margin: var(--margin-sm);
  cursor: pointer;
  font-weight: var(--fw-bold-600);
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: 1px solid #0d6efd;
}
.btn-sm {
  padding: 0.25rem 0.5rem !important;
  font-size: 0.875rem !important;
  border-radius: 0.2rem !important;
}
.header-position-item {
  position: relative;
  height: 70vh;
}
.empty-space {
  width: 100%;
  height: 2rem;
}
.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--fw-bold-600);
  font-size: 2rem;
  margin: var(--margin-large) 0;
}
.carousel {
  width: 100%;
  display: flex;
  overflow: hidden;
  column-gap: 0.5rem;
  justify-content: space-between;
}
.main-container {
  width: 95%;
  margin: auto;
}
.categ-container {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 0.375rem;
}
.footer-container {
  width: 90%;
  margin: var(--margin-large) auto;
  display: flex;
  justify-content: space-between;
}
.footer-content > * {
  margin-bottom: var(--margin-md);
}
