.cart-section {
  width: 70%;
  margin: 6rem auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2rem;
}
.cart-section .card {
  margin: 0;
}
.cart-section > * {
  align-self: flex-start;
  justify-self: center;
  width: 100%;
}
.cart-summary {
  width: 100%;
  max-width: 32rem;
  border: 1px solid var(--clr-primary-faded);
  border-radius: 4px;
  padding: var(--padding-md);
  box-shadow: var(--box-shadow-light);
}
.cart-summary > * {
  margin-bottom: var(--margin-xs);
}
.cart-summary i {
  margin-right: var(--margin-xs);
}
.cart-summary ~ .btn {
  width: 100%;
  max-width: 32rem;
  margin: var(--margin-sm) 0;
}
