.login-form {
  width: 100%;
  max-width: 30rem;
  margin: 3rem auto;
  border: 1px solid var(--clr-primary-faded);
  border-radius: 4px;
  padding: var(--padding-large);
  box-shadow: var(--box-shadow-light);
}
.form-input {
  border: 1px solid var(--clr-primary);
  border-radius: 3px;
  padding: var(--padding-xs);
  width: 100%;
  outline: none;
}

.footer-container {
  width: 90%;
  margin: var(--margin-large) auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18rem;
}
@media screen and (max-width: 650px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 0rem !important;
  }
}
.input-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  /* background-color: #fff; */
  /* background-clip: padding-box; */
  /* border: 1px solid #ced4da; */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
